<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>movie</h1>
    <table border="1">
        <tr>
            <th>Image</th>
            <th>Deskripsi</th>
        </tr>
        <% data.forEach ((el) => { %>
            <tr>
               <td> <img src = "<%= el.image %>" style="height: 300px;"/></td>
                <td>title : <%= el.title %> <br>
                    genre : <%= el.genre %> <br>
                    released : <%= el.released %> <br></td>
            </tr>
       <% }) %>
    </table>
</body>
</html>